{% extends "user/base1.html" %}
<!-- Title Starts -->
{% block title %}{% endblock %}
<!-- Title Starts -->

<!-- Head Code Starts -->
{% block headcode %}
    
{% endblock %}
<!-- Head Code Ends -->

<!-- Main Content Starts -->
{% block content %}

<div class="container">
    <div class="card" style="width: 80%;margin: 20px auto;">
        <form id="form1" action="{{url_for('userResetPassword')}}" method="POST">
            <div class="form-group">
                Enter new password
                <input class="form-control" type="password" name="password" id="p1" required>
                Confirm new password
                <input class="form-control" type="password" name="password1" id="p2" required>
                <input class="form-control" type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById('form1').addEventListener('submit',function(e){
        e.preventDefault();
        x=document.getElementById('p1').value;
        y=document.getElementById('p2').value;
        if(x==y){
            e.target.submit();
        }
        else{
            alert("Passwords not matched");
            return false;
        }
    });
</script>
{% endblock %}
<!-- Main Content Ends -->